@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Firacode';
    src: url(../fonts/FiraCode-Regular.ttf);
}

@font-face {
    font-family: 'Lobster';
    src: url(../fonts/Lobster-Regular.ttf);
}

:root {
    --primary-text: #333333;
    --secondary-text: #666666;
    --header-text: #6dc7d3;

    font-family: 'Poppins';

    ::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: block;
}

body, html {
    background-color: white;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #00000000;
    position: sticky;
    z-index: 1000;
    top: 0;
    transition: all ease-in-out 0.2s;
}

.navbar.scrolled {
    background-color: #fff;
    box-shadow: 0 0 20px 0 gray;
}

.navbar-end {
    padding: 0 20px;
}

.navbar-end ul {
    list-style: none;
}

.navbar-end ul li {
    display: inline;
    padding: 0 20px;
}

.navbar-end ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
    font-size: 16px;
    padding: 10px 0px;
    transition: all 0.2s ease-in-out;
}

.navbar-end ul li a:hover {
    font-weight: 800;
    color: gray;
}


/* HERO */
.hero-container {
    background-image: url('/images/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    height: 100vh;
    margin-top: -80px;
    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    align-items: center;
    gap: 5px;
}

.hero-text {
    flex-basis: 50%;
    opacity: 0;
    transform: translateX(50px);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.hero-text p {
    color: var(--primary-text);
    font-size: 20px;
}

.hero-text h2 {
    color: var(--primary-text);
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}

.hero-text h1 {
    color: #6dc7d3;
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
}

.hero-contact {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero-contact-content {
    display: flex;
    gap: 3px;
}

.hero-contact-content img {
    height: 20px;
}

.hero-contact-content p {
    color: var(--primary-text);
    font-size: 14px;
}

.hero-images {
    flex-basis: 50%;
    position: relative;
    opacity: 0;
    transform: translateX(-50px);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.hero-images img {
    height: 700px;
}

.hero-popup {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 30px 5px 10px;
    box-shadow: 0px 3px 5px 3px rgba(128, 128, 128, 0.253);
    border-radius: 15px;
    position: absolute;
}

.hero-popup.popup1 {
    bottom: 50px;
    left: 0px;
}

.hero-popup.popup2 {
    top: 70px;
    right: 0px;
}

.hero-popup.popup3 {
    top: 0px;
    left: 30px;
}

.hero-popup-image {
    padding: 15px;
}

.hero-popup-image img {
    height: 20px;
}

.hero-popup h6 {
    color: var(--primary-text);
    font-size: 24px;
    line-height: 1;
}

.hero-popup p {
    font-size: 17px;
    color: gray;
}

/* ABOUT ME */
.aboutme-container {
    opacity: 0;
    transform: translateY(25%);
    transition: transform 0.8s ease, opacity 0.8s ease;
    background-color: #E0F7FA;
}

.aboutme-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.aboutme-name {
    flex-basis: 50%;
    color: var(--primary-text);
}

.aboutme-name h6 {
    padding: 0 40px;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Lobster';
}

.aboutme-name h2 {
    font-weight: 900;
    font-size: 90px;
    line-height: 1;
}

.aboutme-name p {
    color: var(--secondary-text);
}

.aboutme-socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "img1 img1"
        "img2 img3"
        "img2 img4"
    ;
    flex-basis: 50%;
}

.aboutme-socials a {
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}



.aboutme-socials a:nth-child(1) {
    background-size: 100%;
    width: 100%;
    height: 20vh;
    grid-area: img1;
    background-image: url('../images/sc3.png');
}


.aboutme-socials a:nth-child(2) {
    width: 100%;
    background-size: 130%;
    height: 30vh;
    grid-area: img2;
    background-image: url('../images/sc2.png');
}

.aboutme-socials a:nth-child(3) {
    width: 100%;
    height: 15vh;
    grid-area: img3;
    background-image: url('../images/sc1.png');
}

.aboutme-socials a:nth-child(4) {
    width: 100%;
    height: 15vh;
    grid-area: img4;
    background-image: url('../images/sc4.png');
}

.aboutme-socials a:hover {
    background-size: 140%;
}

/* SKILL */
.skill-container {
    background-color: #fff;
    padding: 60px 0;
}

.skill-content {
    opacity: 0;
    transform: translateY(25%);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.skill-content h2 {
    text-align: center;
    padding: 0 0 20px 0;
}

.skill-programming {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.programming-container1 {
    opacity: 0;
    transform: translateX(-50px);
    transition: transform 1s ease, opacity 0.8s ease;
}

.programming-container2 {
    opacity: 0;
    transform: translateX(50px);
    transition: transform 1s ease, opacity 0.8s ease;
}

.programming-content {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}

.programming-image img {
    height: 64px;
    width: 64px;
}

.programming-text h4 {
    padding-left: 5px;
    font-family: 'FiraCode';
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

.programming-text-images {
    display: flex;
    gap: 5px;
}

.programming-text-images img {
    width: 40px;
    margin-top: -10px;
}

.skill-content .skills-text {
    text-align: center;
}

.skill-content .skills-title {
    text-align: center;
    padding: 40px 0 20px 0;
}

.skill-content .additional-skills {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-family: 'FiraCode';
}

/* PROJECTS */
.projects-container {
    padding: 60px 0;
    background-color: #E0F7FA;
}

.projects-content {
    opacity: 0;
    transition: transform 1s ease, opacity 0.8s ease;
}

.projects-title {
    text-align: center;
    padding-bottom: 20px;
}

.project-gallery1 {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    box-shadow: 1px 2px 3px 2px rgba(128, 128, 128, 0.438);
    transform: translateX(50px);
    transition: transform 1s ease, opacity 0.8s ease;
}

.project-images {
    flex-basis: 50%;
}

.project-images img {
    width: 500px;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.project-images img:hover {
    opacity: 0.7;
}

.project-images p {
    font-size: 12px;
    color: rgba(128, 128, 128, 0.692);
}

.project-text {
    flex-basis: 50%;
}

.project-text ul {
    list-style: inside;
}

.project-text ul li {
    color: gray;
}

.projectbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2000;
}

.projectbox-image {
    max-width: 90%;
    max-height: 80%;
}

.prev {
    height: 100%;
    position: absolute;
    left: 0;
    width: 12vw;
    background-color: rgba(128, 128, 128, 0.527);
    opacity: 0;
    transition: all ease-in-out 0.2s;
}

.next {
    height: 100%;
    position: absolute;
    right: 0;
    width: 12vw;
    background-color: rgba(128, 128, 128, 0.527);
    opacity: 0;
    transition: all ease-in-out 0.2s;
}

.prev:hover, .next:hover {
    opacity: 0.5;
    cursor: pointer;
    border: none;
}

.close {
    position: absolute;
    top: 15px;
    right: 25px;
    padding: 10px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 1000;
    transition: color ease-in-out 0.2s;
}

.close:hover {
    color: red;
}

/* FOOTER */
.footer-container {
    background-color: #4d888f;
    z-index: 100;
}

.footer-content {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.footer-content p {
    color: #E0D9B8;
    font-size: 15px;
}

.footer-text {
    transform: translateY(20px);
    transition: transform 1s ease;
}

.footer-text h2 {
    font-family: 'Lobster';
    color: #FDF6E3;
    font-size: 60px;
}

.footer-text-secondary {
    display: flex;
    align-items: center;
}

.footer-text-secondary img {
    height: 20px;
    margin-right: 5px;
}

.footer-text-active {
    display: flex;
    align-items: center;
    background-color: #666666;
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.171);
}

.footer-text-active img {
    height: 20px;
    margin-right: 5px;
}

.footer-sitemap {
    transform: translateY(60px);
    transition: transform 1.2s ease;
}

.footer-headers {
    color: #FDF6E3;
    font-size: 18px;
}

.footer-links {
    transform: translateY(100px);
    transition: transform 1.4s ease;
}

.footer-content ul {
    list-style: none;
}

.footer-content ul {
    line-height: 2;
}

.footer-content ul li a {
    color: #E0D9B8;
    text-decoration: none;
    font-size: 15px;
    transition: all ease-in-out 0.2s;
}

.footer-content ul li a:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.footer-contact {
    transform: translateY(140px);
    transition: transform 1.6s ease;
}

.footer-end {
    font-size: 14px;
    color: #E0D9B8;
    padding: 30px 0;
    border-top: 1px solid #fdf6e33a;
    box-shadow: 1px -2px 5px 0px #fdf6e32c;
}

@media only screen and (max-width: 1220px) {

    /* HERO */
    .hero-content {
        width: 992px;
        padding: 0 20px;
    }

    .hero-text {
        transform: translateX(20px);
    }

    .hero-images {
        opacity: 0;
        transform: translateX(-20px);
    }

    .hero-text p {
        font-size: 16px;
    }

    .hero-text h2 {
        font-size: 40px;
    }

    .hero-text h1 {
        font-size: 60px;
    }

    .hero-contact {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .hero-images img {
        height: 600px;
    }

    .hero-popup.popup2 {
        right: 20px;
    }

    .hero-popup.popup3 {
        left: 100px;
    }

    .hero-popup-image {
        padding: 10px;
    }

    .hero-popup-image img {
        height: 15px;
    }

    .hero-popup h6 {
        font-size: 18px;
    }

    .hero-popup p {
        font-size: 13px;
    }

    /* ABOUT ME */
    .aboutme-content {
        display: flex;
        width: 992px;
        padding: 0 20px;
        align-items: center;
        gap: 10px;
    }

    .aboutme-name {
        flex-basis: 50%;
    }

    .aboutme-name h6 {
        font-size: 25px;
    }

    .aboutme-name h2 {
        font-size: 70px;
    }

    .aboutme-name p {
        font-size: 16px;
    }

    /* SKILL */

    .skill-content {
        width: 992px;
        padding: 0 20px;
    }

    .skill-programming {
        padding: 0 20px;
    }

    .programming-container1 {
        transform: translateX(-20px);
    }

    .programming-container2 {
        transform: translateX(20px);
    }

    .programming-image img {
        height: 40px;
        width: 40px;
    }

    .programming-text h4 {
        font-size: 17px;
        line-height: 1.4;
    }

    .programming-text-images img {
        width: 33px;
        margin-top: -10px;
    }

    /* PROJECTS */

    .projects-content {
        width: 992px;
        padding: 0 20px;
    }

    .project-gallery1 {
        transform: translateX(20px);
    }

    .project-images img {
        width: 400px;
    }

    .project-images p {
        font-size: 10px;
    }

    .prev {
        width: 18vw;
    }

    .next {
        width: 18vw;
    }

    /* FOOTER */
    .footer-content {
        padding: 70px 20px;
        width: 992px;
    }
}

@media only screen and (max-width: 992px) {

    /* HERO */
    .hero-container {
        background-image: url('/images/bg.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 40px 0;
        height: 100vh;
        margin-top: -80px;
        display: flex;
        align-items: center;
    }

    .hero-content {
        width: 768px;
        padding: 0 30px;
        flex-direction: column;
    }

    .hero-text {
        transform: translateX(25px);
    }

    .hero-text p {
        font-size: 16px;
    }

    .hero-text h2 {
        font-size: 30px;
    }

    .hero-text h1 {
        font-size: 70px;
    }

    .hero-contact {
        flex-direction: row;
        gap: 5px;
    }

    .hero-contact-content p {
        font-size: 12px;
    }

    .hero-popup {
        display: none;
    }

    /* ABOUT ME */

    .aboutme-content {
        width: 768px;
        padding: 0 30px;
    }

    .aboutme-name h6 {
        font-size: 20px;
    }

    .aboutme-name h2 {
        font-size: 80px;
    }

    .aboutme-name p {
        font-size: 15px;
    }

    .aboutme-socials a:nth-child(1) {
        height: 160px;
    }

    .aboutme-socials a:nth-child(2) {
        height: 200px;
    }

    .aboutme-socials a:nth-child(3) {
        height: 100px;
    }

    .aboutme-socials a:nth-child(4) {
        height: 100px;
    }

    /* SKILL */

    .skill-content {
        width: 768px;
        padding: 0 30px;
    }

    .skill-programming {
        flex-direction: column;
        padding: 0 30px;
    }

    .programming-image img {
        height: 50px;
        width: 50px;
    }

    .programming-text h4 {
        font-size: 18px;
    }

    .programming-text-images img {
        width: 50px;
    }

    .skill-content .additional-skills {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: space-evenly;
        list-style: none;
        font-family: 'FiraCode';
    }

    /* PROJECTS */

    .projects-content {
        width: 768px;
        padding: 0 30px;
    }

    .project-images img {
        width: 300px;
    }

    .project-images p {
        font-size: 12px;
        color: rgba(128, 128, 128, 0.692);
    }

    /* FOOTER */

    .footer-content {
        padding: 70px 30px;
        width: 768px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        opacity: 0;
        transition: opacity 1.5s ease;
    }


    .footer-text {
        flex-basis: 100%;
    }

    .footer-text h2 {
        text-align: center;
    }

    .footer-text-secondary {
        justify-content: center;
    }

    .footer-text-secondary img {
        height: 18px;
    }

    .footer-text-active {
        margin: 20px auto 40px auto;
        max-width: 350px;
    }

    .footer-text-active img {
        height: 17px;
    }

}

@media only screen and (max-width: 768px) {

    /* HERO */
    .hero-content {
        width: 600px;
        padding: 0 20px;
        flex-direction: column;
    }

    .hero-text {
        transform: translateX(20px);
    }

    .hero-contact-content p {
        font-size: 12px;
    }

    /* ABOUT ME */

    .aboutme-content {
        width: 600px;
        padding: 0 20px;
    }

    .aboutme-name h2 {
        font-size: 70px;
    }

    .aboutme-name p {
        font-size: 14px;
    }

    .aboutme-socials a:nth-child(1) {
        height: 140px;
    }

    .aboutme-socials a:nth-child(2) {
        height: 170px;
    }

    .aboutme-socials a:nth-child(3) {
        height: 85px;
    }

    .aboutme-socials a:nth-child(4) {
        height: 85px;
    }

    /* SKILL */

    .skill-content {
        width: 600px;
        padding: 0 20px;
    }

    .skill-programming {
        padding: 0 20px;
    }

    .programming-image img {
        height: 40px;
        width: 40px;
    }

    .programming-text h4 {
        font-size: 16px;
    }

    .programming-text-images img {
        width: 40px;
    }

    /* PROJECTS */

    .projects-content {
        width: 600px;
        padding: 0 20px;
    }

    .project-gallery1 {
        flex-direction: column;
        gap: 20px;
    }

    .project-images img {
        width: 500px;
    }

    .project-text {
        padding: 0 20px;
        text-align: center;
    }

    .project-text ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    .project-text ul li {
        font-size: 15px;
    }

    /* FOOTER */

    .footer-content {
        padding: 70px 20px;
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        opacity: 0;
        transition: opacity 1.5s ease;
    }


    .footer-text {
        flex-basis: 100%;
    }

    .footer-text h2 {
        text-align: center;
    }

    .footer-text-secondary {
        justify-content: center;
    }

    .footer-text-secondary img {
        height: 18px;
    }

    .footer-text-active {
        margin: 20px auto 40px auto;
        max-width: 350px;
    }

    .footer-text-active img {
        height: 17px;
    }

}

@media only screen and (max-width: 600px) {

    .navbar-end {
        padding: 0;
    }

    .navbar-end ul li {
        padding: 0 13px;
    }

    .navbar-end ul li a {
        font-size: 14px;
        padding: 10px 0px;
    }


    /* HERO */
    .hero-content {
        width: 375px;
        padding: 0 20px;
    }

    .hero-text {
        transform: translateX(20px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-text p {
        color: var(--primary-text);
        font-size: 15px;
    }

    .hero-text h2 {
        font-size: 25px;
    }

    .hero-text h1 {
        font-size: 40px;
    }

    .hero-contact {
        flex-direction: column;
        align-items: center;
    }

    .hero-contact-content {
        gap: 3px;
    }

    .hero-contact-content img {
        height: 17px;
    }

    .hero-images {
        transform: translateX(-20px);
    }

    .hero-images img {
        height: 350px;
    }

    /* ABOUT ME */

    .aboutme-content {
        padding: 0 20px;
        width: 375px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .aboutme-name {
        flex-basis: 100%;
        color: var(--primary-text);
        text-align: center;
        padding: 40px 0;
    }

    .aboutme-name h6 {
        padding: 0 20px;
    }

    .aboutme-name h2 {
        font-weight: 900;
        font-size: 70px;
        line-height: 1;
        padding-bottom: 20px;
    }

    .aboutme-socials {
        display: none;
    }

    /* SKILL */

    .skill-content {
        padding: 0 20px;
        width: 375px;
    }

    .programming-container1 {
        transform: translateX(-20px);
    }

    .programming-container2 {
        transform: translateX(20px);
    }

    .programming-content {
        gap: 10px;
    }

    .programming-image img {
        height: 40px;
        width: 40px;
    }

    .programming-text h4 {
        font-size: 16px;
    }

    .programming-text-images img {
        width: 23px;
        margin-top: -7px;
    }

    .skill-programming {
        padding: 0px;
    }

    /* PROJECTS */

    .projects-content {
        width: 375px;
        padding: 0 20px;
    }

    .project-images img {
        width: 300px;
    }

    .project-text {
        padding: 0 20px;
        text-align: center;
    }

    .project-text ul {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .project-text ul li {
        font-size: 15px;
    }

    /* FOOTER */

    .footer-content {
        padding: 70px 20px;
        width: 375px;
    }

}

@media only screen and (max-width: 375px) {


    .navbar-end ul {
        list-style: none;
    }

    .navbar-end ul li {
        padding: 0 10px;
    }

    .navbar-end ul li a {
        font-size: 12px;
        padding: 10px 0px;
    }


    /* HERO */
    .hero-content {
        width: 320px;
        padding: 0 20px;
    }

    .hero-text {
        transform: translateX(15px);
    }
    .hero-images {
        transform: translateX(-15px);
    }

    .hero-text p {
        color: var(--primary-text);
        font-size: 15px;
    }

    .hero-text h2 {
        font-size: 30px;
    }

    .hero-text h1 {
        font-size: 50px;
    }

    .hero-contact {
        flex-direction: column;
        align-items: center;
    }

    .hero-contact-content {
        display: flex;
        gap: 3px;
    }

    .hero-contact-content img {
        height: 17px;
    }

    .hero-images img {
        height: 300px;
    }

    /* ABOUT ME */

    .aboutme-content {
        padding: 0 20px;
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .aboutme-name {
        flex-basis: 50%;
        color: var(--primary-text);
        text-align: center;
        padding: 40px 0;
    }

    .aboutme-name h6 {
        padding: 0 20px;
    }

    .aboutme-name h2 {
        font-weight: 900;
        font-size: 70px;
        line-height: 1;
        padding-bottom: 20px;
    }

    .aboutme-socials {
        display: none;
    }

    /* SKILL */

    .skill-content {
        padding: 0 20px;
        width: 320px;
    }

    .programming-content {
        gap: 10px;
    }

    .programming-image img {
        height: 32px;
        width: 32px;
    }

    .programming-text h4 {
        font-size: 16px;
    }

    .programming-text-images img {
        width: 15px;
        margin-top: -7px;
    }

    .skill-programming {
        padding: 0px;
    }

    /* PROJECTS */

    .projects-content {
        width: 320px;
        padding: 0 20px;
    }

    .project-gallery1 {
        transform: translateX(15px);
    }

    .project-images img {
        width: 250px;
    }

    .project-text {
        padding: 0 20px;
        text-align: center;
    }

    .project-text ul {
        padding-top: 20px;
    }

    .project-text ul li {
        font-size: 15px;
    }

    /* FOOTER */

    .footer-content {
        padding: 70px 20px;
        width: 320px;
    }


}






/* == DONT REMOVE ==  */
.animate {
    transform: translateX(0);
    transform: translateY(0);
    opacity: 1;
}

/* ================= */