@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Firacode';
    src: url(../fonts/FiraCode-Regular.ttf);
}

@font-face {
    font-family: 'Lobster';
    src: url(../fonts/Lobster-Regular.ttf);
}

:root {
    --primary-text: #333333;
    --secondary-text: #666666;
    --header-text: #6dc7d3;

    font-family: 'Poppins';

    ::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: block;
}

body, html {
    background-color: white;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #00000000;
    position: sticky;
    z-index: 1000;
    top: 0;
    transition: all ease-in-out 0.2s;
}

.navbar.scrolled {
    background-color: #fff;
    box-shadow: 0 0 20px 0 gray;
}

.navbar-end {
    padding: 0 20px;
}

.navbar-end ul {
    list-style: none;
}

.navbar-end ul li {
    display: inline;
    padding: 0 20px;
}

.navbar-end ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
    font-size: 16px;
    padding: 10px 0px;
    transition: all 0.2s ease-in-out;
}

.navbar-end ul li a:hover {
    font-weight: 800;
    color: gray;
}


/* HERO */
.hero-container {
    background-image: url('/images/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    height: 100vh;
    margin-top: -80px;
    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    align-items: center;
    gap: 5px;
}

.hero-text {
    opacity: 0;
    transform: translateX(50%);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.hero-text p {
    color: var(--primary-text);
    font-size: 20px;
}

.hero-text h2 {
    color: var(--primary-text);
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}

.hero-text h1 {
    color: #6dc7d3;
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
}

.hero-contact {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero-contact-content {
    display: flex;
    gap: 3px;
}

.hero-contact-content img {
    height: 20px;
}

.hero-contact-content p {
    color: var(--primary-text);
    font-size: 14px;
}

.hero-images {
    position: relative;
    opacity: 0;
    transform: translateX(-50%);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.hero-images img {
    height: 75vh;
}

.hero-popup {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 30px 5px 10px;
    box-shadow: 0px 3px 5px 3px rgba(128, 128, 128, 0.253);
    border-radius: 15px;
    position: absolute;
}

.hero-popup.popup1 {
    bottom: 50px;
    left: 50px;
}

.hero-popup.popup2 {
    top: 70px;
    right: 0px;
}

.hero-popup.popup3 {
    top: 170px;
    left: 120px;
}

.hero-popup-image {
    padding: 15px;
}

.hero-popup-image img {
    height: 20px;
}

.hero-popup h6 {
    color: var(--primary-text);
    font-size: 24px;
    line-height: 1;
}

.hero-popup p {
    font-size: 17px;
    color: gray;
}

/* ABOUT ME */
.aboutme-container {
    opacity: 0;
    transform: translateY(25%);
    transition: transform 0.8s ease, opacity 0.8s ease;
    background-color: #E0F7FA;
}

.aboutme-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.aboutme-name {
    flex-basis: 50%;
    color: var(--primary-text);
}

.aboutme-name h6 {
    padding: 0 40px;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Lobster';
}

.aboutme-name h2 {
    font-weight: 900;
    font-size: 90px;
    line-height: 1;
}

.aboutme-name p {
    color: var(--secondary-text);
}

.aboutme-socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "img1 img1"
        "img2 img3"
        "img2 img4"
    ;
    flex-basis: 50%;
}

.aboutme-socials a {
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}



.aboutme-socials a:nth-child(1) {
    background-size: 100%;
    width: 100%;
    height: 20vh;
    grid-area: img1;
    background-image: url('../images/sc3.png');
}


.aboutme-socials a:nth-child(2) {
    width: 100%;
    background-size: 130%;
    height: 30vh;
    grid-area: img2;
    background-image: url('../images/sc2.png');
}

.aboutme-socials a:nth-child(3) {
    width: 100%;
    height: 15vh;
    grid-area: img3;
    background-image: url('../images/sc1.png');
}

.aboutme-socials a:nth-child(4) {
    width: 100%;
    height: 15vh;
    grid-area: img4;
    background-image: url('../images/sc4.png');
}

.aboutme-socials a:hover {
    background-size: 140%;
}

/* SKILL */
.skill-container {
    background-color: #fff;
    padding: 60px 0;
}

.skill-content {
    opacity: 0;
    transform: translateY(25%);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.skill-content h2 {
    text-align: center;
    padding: 0 0 20px 0;
}

.skill-programming {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.programming-container1 {
    opacity: 0;
    transform: translateX(-50%);
    transition: transform 1s ease, opacity 0.8s ease;
}

.programming-container2 {
    opacity: 0;
    transform: translateX(50%);
    transition: transform 1s ease, opacity 0.8s ease;
}

.programming-content {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}

.programming-image img {
    height: 64px;
    width: 64px;
}

.programming-text h4 {
    padding-left: 5px;
    font-family: 'FiraCode';
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

.programming-text-images {
    display: flex;
    gap: 5px;
}

.programming-text-images img {
    width: 40px;
    margin-top: -10px;
}

.skill-content .skills-text {
    text-align: center;
}

.skill-content .skills-title {
    text-align: center;
    padding: 40px 0 20px 0;
}

.skill-content .additional-skills {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-family: 'FiraCode';
}

/* PROJECTS */
.projects-container {
    padding: 60px 0;
    background-color: #E0F7FA;
}

.projects-content {
    opacity: 0;
    transition: transform 1s ease, opacity 0.8s ease;
}

.projects-title {
    text-align: center;
    padding-bottom: 20px;
}

.project-gallery1 {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    box-shadow: 1px 2px 3px 2px rgba(128, 128, 128, 0.438);
    transform: translateX(50%);
    transition: transform 1s ease, opacity 0.8s ease;
}

.project-images {
    flex-basis: 50%;
}

.project-images img {
    width: 500px;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.project-images img:hover {
    opacity: 0.7;
}

.project-images p {
    font-size: 12px;
    color: rgba(128, 128, 128, 0.692);
}

.project-text {
    flex-basis: 50%;
}

.project-text ul {
    list-style: inside;
}

.project-text ul li {
    color: gray;
}

.projectbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2000;
}

.projectbox-image {
    max-width: 90%;
    max-height: 80%;
}

.prev {
    height: 100%;
    position: absolute;
    left: 0;
    width: 12vw;
    background-color: rgba(128, 128, 128, 0.527);
    opacity: 0;
    transition: all ease-in-out 0.2s;
}

.next {
    height: 100%;
    position: absolute;
    right: 0;
    width: 12vw;
    background-color: rgba(128, 128, 128, 0.527);
    opacity: 0;
    transition: all ease-in-out 0.2s;
}

.prev:hover, .next:hover {
    opacity: 0.5;
    cursor: pointer;
    border: none;
}

.close {
    position: absolute;
    top: 15px;
    right: 25px;
    padding: 10px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 1000;
    transition: color ease-in-out 0.2s;
}

.close:hover {
    color: red;
}

/* FOOTER */
.footer-container {
    background-color: #4d888f;
    z-index: 100;
}

.footer-content {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.footer-content p {
    color: #E0D9B8;
    font-size: 15px;
}

.footer-text {
    transform: translateY(50%);
    transition: transform 1s ease;
}

.footer-text h2 {
    font-family: 'Lobster';
    color: #FDF6E3;
    font-size: 60px;
}

.footer-text-secondary {
    display: flex;
    align-items: center;
}

.footer-text-secondary img {
    height: 20px;
    margin-right: 5px;
}

.footer-text-active {
    display: flex;
    align-items: center;
    background-color: #666666;
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.171);
}

.footer-text-active img {
    height: 20px;
    margin-right: 5px;
}

.footer-sitemap {
    transform: translateY(50%);
    transition: transform 1.4s ease;
}

.footer-headers {
    color: #FDF6E3;
    font-size: 18px;
}

.footer-links {
    transform: translateY(50%);
    transition: transform 1.8s ease;
}

.footer-content ul {
    list-style: none;
}

.footer-content ul {
    line-height: 2;
}

.footer-content ul li a {
    color: #E0D9B8;
    text-decoration: none;
    font-size: 15px;
    transition: all ease-in-out 0.2s;
}

.footer-content ul li a:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.footer-contact {
    transform: translateY(50%);
    transition: transform 2.2s ease;
}

.footer-end {
    font-size: 14px;
    color: #E0D9B8;
    padding: 30px 0;
    border-top: 1px solid #fdf6e33a;
    box-shadow: 1px -2px 5px 0px #fdf6e32c;
}


/* == DONT REMOVE ==  */
.animate {
    transform: translateX(0);
    transform: translateY(0);
    opacity: 1;
}

/* ================= */